<div style="    height: 92vh;
display: flex;
flex-direction: row;
justify-content: space-between;">

    <div style="width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    background-color: #525252;">
        <button class = "buttonsss" style="color: white;font-size: 21px;" mat-button color="primary" style="border: 1px solid;" (click)="checkBalance()">checkBalance</button>
        <button class = "buttonsss" style="color: white;font-size: 21px;" mat-button color="primary" style="border: 1px solid;" (click)="checkBalance()">cancel</button>
    </div>
    <div style="width: 70%;background-color: aliceblue;display: flex;
    flex-direction: column;">
        <div style="    font-size: 100px;
        font-family: fantasy;
        display: flex;
        justify-content: center;">
            ATM
        </div>
        <div style="    flex-grow: 1;
        display: flex;">

        </div>
    </div>
    <div style="    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;    background-color: #525252;">
        <button class = "buttonsss" style="color: white !important;font-size: 21px !important;" mat-button color="primary" style="border: 1px solid;" (click)="checkBalance()">withdraw</button>
    </div>


</div>